@font-face {
  font-family: 'Harding';
  src:url(https://www.nature.com/static/fonts/HardingText-Regular-Web.b167e675dc.woff2) format("woff2"),url(https://www.nature.com/static/fonts/HardingText-Regular-Web.62711b6c07.woff) format("woff");
}

*:focus{
  outline: 2px solid #fece3e;
}

body{
  margin:0;
  padding: 0;
  font-family: 'Harding', serif;
  background-color: #000;
  background-image: url('textures/preload.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #fff;
  overflow: hidden;
}
h1{
  font-size: 1.6em;
}
h2{
  font-size: 1.2em;
}
p{
  font-weight: 400;
}
a{
  /* color: #069; */
  color: #2094ce;
  text-decoration: none;
}

#hamburger{
  transform: rotate(0);
  -webkit-transition: transform 0.5s; /* Safari prior 6.1 */
  transition: transform 0.5s;
  width: 2vw;
  position:absolute;
  margin: 10px;
}

#menu{
  position: absolute;
  color: #999;
  display: none;
  margin-left: 3vw;
  background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,1));
}
#menu ul{
  margin: 0;
  padding: 0;
}
#menu li{
  float: left;
  margin: 10px 5px;
  list-style: none;
}

#menu li p, #menu li a{
  margin: 0;
}

#menu p:hover{
  color: #fff;
}

#info-parent, #lightBox{
  /* background: rgba(0,0,0,0.3); */
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.5));
  overflow: hidden;
  width: 33%;
  position: absolute;
  z-index: 1;
  left: 30%;
	display:block;
  padding-bottom: 5px;
  max-height: 40vh;
  bottom: 0;
  display:flex;
  flex-direction:column;
  color: white;
  text-align:center;
}

#info {
  width: 100%;
  padding-right: 17px;
  height: calc(100%-50px);
  overflow-y: scroll;
  font-size: 80%;
  box-sizing: content-box;
}

#info ul{
  padding: 0 10%;
  list-style: none;
}

#info li{
  margin-top: 10px;
  text-align: left;
}

#info li p, #info li a p{
  padding-left: 35px;
  color: white;
}

#info a{
  text-decoration-style: dashed;
  /* color: #dea3a3; */
  /* color: #fff; */
}

#info .rt-bg{
  /* background-image: url('textures/xenopus-disc.png'); */
  padding: 50px 10px;
  background-position: 50% 20%;
  background-size: 200%;
  border: 0.1px solid #999;
  margin-top: 0;
}

#search{
  margin: 10px 0 0px 15%;
  height: 3vh;
  top: -10px;
  position: relative;
  border: none;
  border-bottom: 1px #fff solid;
  text-align: center;
  width: 70%;
  color: white;
  background-image: url("textures/search.png");
  background-color: rgba(0,0,0,0);
  background-size: contain;
  background-repeat: no-repeat;
}

#lightBox{
  background-image: linear-gradient(to top, rgba(0,0,0,0.25), rgba(0,0,0,1));
  text-align:center;
  overflow:visible;
  padding: 0 20px;
  position: absolute;
  z-index: 6;
  max-height: 60vh;
  top: 20%;
}

#lightBox img{
  position: relative;
  width: 8vw;
  max-height: 8vw;
  margin: 0 auto;
}

#lightBox li img{
  position: relative;
  height: 10vh;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#lightBox ul{
  padding: 0;
}

#lightBox ul ul{
  position: relative;
  left: 15%;
}

#lightBox li{
  list-style: none;
}

.credits li{
  clear: both;
}

#lightBox .intro-cocit li:nth-child(1){
  float: right;
  width: 60%;
  position: relative;
  text-align: left;
}

#lightBox .intro-cocit li img{
  /* max-height: 20%; */
  margin: 0;
}

.safari-gyro{
  display: none;
  border: 1px solid #666;
  margin-bottom: 10px;
}

#credits, #controls{
  display:none;
}

.credits{
  margin-top: 10%;
  line-height: 1.6;
}

.controls li{
  clear: both;
}

.controls li li{
  float: left;
  clear: none;
}

#legend{
  position: absolute;
  right: 0;
  background-image: linear-gradient(to left, rgba(0,0,0,0.9), rgba(0,0,0,0.4));
  width: 15vw;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}

#legend ul{
  padding-left: 0;
  clear:both;
}

#legend ul li{
  list-style: none;
  font-size: 80%;
  margin: 0 5px;
}

#legend #tab-nav img{
  width: 15px;
}

#legend .collapse{
  margin-top: 20px;
  margin-left: 10px;
  width: 15px;
}

.collapse{
  width: 20px;
  transform: rotate(0);
  -webkit-transition: transform 0.5s; /* Safari prior 6.1 */
  transition: transform 0.5s;
  margin: 10px auto;
}

.dwnld{
  float: left;
  width: 15px;
  position: relative;
  top: 3px;
}

.nextDiamond{
  color: #adadad;
  background-color: rgba(0,0,0,0.9);
  margin: 0;
}

#tab-nav, .rt, #toggle-gyro{
  border: 1px solid #999;
  padding: 5px;
  font-style: italic;
  /* width: 50%; */
  margin: 0;
}

.rt p{
  display: inherit;
}

.gyro{
  display:none;
}

.icon{
  width:25px;
  margin-right:5px;
}

.icon-small{
  width: 15px;
  margin-right: 2px;
  float: left;
}

/* 响应式布局设置 */
@media only screen and (max-width: 800px) {
 #hamburger{
   width: 7vw;
   z-index: 5;
 }
 #menu{
   margin: 0;
  width: 100%;
  height: 100%;
  font-size: 135%;
  z-index: 2;
  background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,1));
 }
 #menu li{
   float: none;
   padding-left: 10vw;
 }
 #lightBox{
  width: 100%;
  left: 0px;
  padding: 50px 0 0 0;
  margin: 0px;
  display: none;
  top:50%;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0,0,0,0)) !important;
 }
 #lightBox img{
  /* max-height: 12vw; */
  width: 10vw;
  display: block;
 }
 #lightBox .intro-cocit li:nth-child(1){
  width: 80%;
 }
 #lightBox .intro-cocit li img{
   margin-left: 5%;
 }
 .intro-cocit{
   /* max-height: 15%; */
   font-size: 85%;
 }
 #info-parent{
   width: 100%;
   left: 0;
 }
 #info{
   width: calc(100% - 17px);
   padding-left:10px;
   /* font-size: 130%; */
 }
 #info li a p{
  font-size: 120%;
 }
 .icon-small{
   width: 25px;
 }
 .controls ul{
   position: relative;
   left: 0 !important;
 }
 .controls li li{
   float: none;
 }
 #lightBox .controls img{
   margin: 0 auto;
   width: 20vw;
  max-height: none;
 }
 .credits li{
   float: left;
   clear:none;
 }
 .credit li li{
   float:none;
 }
 .credits{
   margin:0;
 }
 input img{
   top: -6vh;
 }
 .desktop{
   display:none;
 }
 .dwnld{
   width: 30px;
 }
 #legend{
   width: 35vw;
   font-size: 110%;
 }
 #legend ul{
   display:none;
 }
 .rt-bg{
   padding: 20px 10px;
 }
}

@media screen and (orientation:landscape) {
	/* landscape-specific styles */
  #lightBox .controls{
    margin:0;
  }
  #lightBox .controls img{
    margin: 8px 0;
  }
  .credits{
    margin-top: 0;
    line-height: 1.2;
  }
}
